@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu",sans-serif;
}

.App{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Sidebar{
  width: 300px;
  min-width: 210px;
  height: 100%;

}

.Main{
  width: 100%;
  height: 100%;
  background: url(./images/bg.jpg) ;
  background-repeat: no-repeat;
  background-size:cover ;
  position: relative;
}

.User{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #ebebeb;
}
.User .logo img{
  width: 50px;
  border-radius: 100%;
  border: 1px solid black;
}

.User .info p{
  font-size: 1.1rem;
  font-weight: bold;
}
.User .info a{
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  
}

.Model{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 99;
}

.Model .container{
  width: 30vw;
  position: absolute;
  top: 30%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%,-25%);
  background: white;
}

.AddNewTodo{
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.AddNewTodo .btn{
  padding: 1rem;
  width: 100%;
  height: 70px;

}
.AddNewTodo .btn button{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #0080ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.AddNewTodo .btn button:hover{
  filter:brightness(1.1);
  transition: all 300ms ease;
}

.TodoForm{
  padding: 1rem 1rem calc(1rem+40px) 1rem;
  width: 100%;
  background: white;
  border-radius:5px;
}

.TodoForm .text input{
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.2rem;

}

.TodoForm .text input:focus{
  outline: none;
  border-bottom: 1px solid #0080ff;
}

.TodoForm .remind{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.TodoForm p{
  margin-left: 10px;
}
.TodoForm .title{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.TodoForm .pick-day{
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.TodoForm .pick-time{
  padding: 1.5rem;
}
.TodoForm .pick-project{
  padding: 0.5rem;
}
.TodoForm .pick-project .projects{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}
.TodoForm .pick-project .projects .project{
  border: 1px solid #0080ff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.TodoForm .pick-project .projects .active{
  background: #0080ff;
  color: white;
}

.TodoForm .cancel{
  position: absolute;
  top: 0;
  right: 0;
  /* left: 455px; */
  
  /* display: flex;
  align-items: first baseline;
  justify-content: end; */
  cursor: pointer;
}
.TodoForm .confirm{
  display: flex;
  align-items: baseline;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right:0; */
  width: 100%;
}

.TodoForm .confirm button{
  width: 100%;
  height: 40px;
  background: #0080ff;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
}

/* Calendar */
.Calendar{
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}

.Calender .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Calendar .header .title{
  display: flex;
  align-items: center;
  flex: 1;
}
.Calendar .header .title p{
  margin-left: 5px;
  font-size: 1.1rem;
}
.Calendar .header .btns span{
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Calendar .header .btns span:hover{
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}
.Calendar .items {
  padding: 0.5rem;
}
.Calendar .items .item{
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/* projects */
.Projects{
  padding: 1rem;
  border-bottom: 1px solid #ebebeb ;
}
.Projects .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Projects .header.title{
  display: flex;
  align-items: center;
  flex: 1;
}
.Projects .header .title p{
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}
.Projects .header .btns{
  display: flex;
  align-items: center;
}
.Projects .header .btns span{
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Projects .header .btns span:hover{
  background-color: #ebebeb;
  transition: background 300ms ease-in-out;
}
.Projects .header .btns span.edit{

  margin-right: 5px;
}
.Projects .items{
  padding: 0.5rem;
}

/* Project */
.Project{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
}
.Project .name{
  cursor: pointer;
  word-break: center;
}
.Project .btns{
  display: flex;
  align-items: center;
}
.Project .btns .total-todos{
  background: #ebebeb;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.Project .btns .edit-delete{
  display: flex;
  align-items: center;
  
}
.Project .btns .edit-delete span{
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}
.Project .btns .edit-delete span.edit:hover{
  background: #acffac;
}
.Project .btns .edit-delete span.delete:hover{
  background: #ffacac;
}

/* AddNewProject */
.AddNewProject .add-button span{
  margin-right: 5px;

}

/* ProjectForm */
.ProjectForm{
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  padding-bottom: 40px;
}
.ProjectForm input{
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: none;
  font-size: 1.2rem;
}
.ProjectForm input:focus{
  outline: none;
  border-bottom: 1px solid #0080ff;
}
.ProjectForm button{
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 50%;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: filter 300ms ease-in-out;
}
.ProjectForm button.cancel{
  left: 0;
  background-color: #8d8d8d;
}
.ProjectForm button.confirm{
  right: 0;
  background-color: #0080ff;
}
.ProjectForm button:hover{
  filter: brightness(1.1);
}
/* Todos */
.Todos{
  width: 450px;
  height: 80%;
  background-color: white;

  position: absolute;
  bottom: 40px;
  left: 40px;
  overflow-y: auto; 
  border-radius: 4px;
  opacity: 0.9;

  padding: 0 0.5rem 0.5rem 0.5rem;
}

.Todos .selected-project{
  margin: 1rem 0;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid #eeeeee;
}
.Todos .todos{
  overflow-y: auto;
}

/* Todo */
.Todo{
  padding: 0.5rem 1rem;
}
.Todo .todo-container{
  display: flex;
  align-items: center;
}
.Todo .todo-container .check-todo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
}
.Todo .todo-container span{
  cursor: pointer;
}
.Todo .todo-container .text{
  position: relative;
  flex: 1;
  margin:0 10px;
  cursor: pointer;
}

.Todo .todo-container .text{
  position: relative;
}
.Todo .todo-container .text span{
  font-size: 0.8rem;
  color: #bebebe;
}
.Todo .todo-container .text .line{
  height: 1px;
  background-color: #bebebe;
  position: absolute;
  top: 25%;
  width: 0;
  transition: width 250ms ease-in-out;
}
.Todo .todo-container .text .line-through{
  width: 100%;
}

/* EditTodo */
.EditTodo{
  position: absolute;
  bottom: 40px;
  left: calc(40px + 450px + 40px);

  background-color: white;
  height: 80%;
  width: 450px;
  border-radius: 4px;
  opacity: 0.9;

}
.EditTodo .header{
  margin: 1rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;

  padding-bottom: 2px;
  border-bottom: 1px solid #eeeeee;
}

/* Next7Days */
.Next7Days .day{
  margin: 5px;
  display: flex;
}
.Next7Days .day .name{
  font-size: 1rem;
  font-weight: bold;
}
.Next7Days .day .total-todos{
  margin-left: 10px;
}